# Ignore everything inside data/
data/*

# Ignore everything inside model/
model/*
model/house_price_model_8005.pkl

# Keep the model directory in Git
!model/.gitkeep

# Virtual environments
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Serialized model files
*.pkl
*.h5